# **Data Manipulation in R**

Data manipulation is essential for cleaning, transforming, and preparing data for analysis. In R, a common approach for data manipulation is using the `dplyr` package, which is included in the `tidyverse`. This tutorial provides examples of common data manipulation tasks using the `dplyr` package, applied to the `flights` dataset from the `nycflights13` package.s

## Loading the Packages

First, we need to load the necessary packages.

In [1]:
############################################################################################

# Load the tidyverse package, a collection of R packages for data science
library(tidyverse)

# Load the nycflights13 package, which includes the flights dataset
library(nycflights13)

print("packages loaded")

############################################################################################

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

[1] "packages loaded"

## Filtering Rows

To filter rows based on specific conditions, use the `filter()` function. For example, to find flights with a departure delay greater than 60 minutes:

In [2]:
############################################################################################

# Filtering flights with a departure delay greater than 60 minutes
filtered_flights <- filter(flights, dep_delay > 60)
head(filtered_flights)

############################################################################################

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1    811      630           101       1047      830
2 2013 1     1    826      715            71       1136     1045
3 2013 1     1    848     1835           853       1001     1950
4 2013 1     1    957      733           144       1056      853
5 2013 1     1   1114      900           134       1447     1222
6 2013 1     1   1120      944            96       1331     1213
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 137       MQ      4576   N531MQ  LGA    CLT  118       544      6   30
2  51       AA       443   N3GVAA  JFK    MIA  160      1089      7   15
3 851       MQ      3944   N942MQ  JFK    BWI   41       184     18   35
4 123       UA       856   N534UA  EWR    BOS   37       200      7   33
5 145       UA      1086   N76502  LGA    IAH  248      1416      9    0
6  78       EV      4495   N16561  EWR    SAV  117       708      9   44
  time_hour
1 2013-01-01 06:00:00
2 2013-01-01 07:00:00
3 2013-01-01 18:00:00
4 2013-01-01 07:00:00
5 2013-01-01 09:00:00
6 2013-01-01 09:00:00

This command creates a new dataset, `filtered_flights`, which contains only the rows where the departure delay (`dep_delay`) is greater than 60 minutes.

## Selecting Columns

To select specific columns from the dataset, use the `select()` function. For example, to select the `dep_delay` and `arr_delay` columns:

In [3]:
############################################################################################

# Selecting the columns 'dep_delay' and 'arr_delay'
selected_columns <- select(flights, dep_delay, arr_delay)
head(selected_columns)

############################################################################################

  dep_delay arr_delay
1  2         11
2  4         20
3  2         33
4 -1        -18
5 -6        -25
6 -4         12

This command creates a new dataset, `selected_columns`, which contains only the `dep_delay` and `arr_delay` columns from the original `flights` dataset.

## Creating New Columns

To create new columns, use the `mutate()` function. For example, to create a new column `total_delay` that is the sum of `dep_delay` and `arr_delay`:

In [4]:
############################################################################################

# Creating a new column 'total_delay'
selected_columns <- mutate(selected_columns, total_delay = dep_delay + arr_delay)
head(selected_columns)

############################################################################################

  dep_delay arr_delay total_delay
1  2         11        13
2  4         20        24
3  2         33        35
4 -1        -18       -19
5 -6        -25       -31
6 -4         12         8

This command manipulates the `selected_columns` dataset, such that it includes all the original columns plus a new column `total_delay` that contains the sum of `dep_delay` and `arr_delay` for each flight.

## Arranging Rows

To sort the rows of the dataset, use the `arrange()` function. For example, to sort flights by departure delay in descending order:

In [5]:
############################################################################################

# Sorting flights by departure delay in descending order
sorted_flights <- arrange(flights, desc(dep_delay))
head(sorted_flights)

############################################################################################

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1      9   641      900           1301      1242     1530
2 2013 6     15  1432     1935           1137      1607     2120
3 2013 1     10  1121     1635           1126      1239     1810
4 2013 9     20  1139     1845           1014      1457     2210
5 2013 7     22   845     1600           1005      1044     1815
6 2013 4     10  1100     1900            960      1342     2211
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1 1272      HA        51   N384HA  JFK    HNL  640      4983      9    0
2 1127      MQ      3535   N504MQ  JFK    CMH   74       483     19   35
3 1109      MQ      3695   N517MQ  EWR    ORD  111       719     16   35
4 1007      AA       177   N338AA  JFK    SFO  354      2586     18   45
5  989      MQ      3075   N665MQ  JFK    CVG   96       589     16    0
6  931      DL      2391   N959DL  JFK    TPA  139      1005     19    0
  time_hour
1 2013-01-09 09:00:00
2 2013-06-15 19:00:00
3 2013-01-10 16:00:00
4 2013-09-20 18:00:00
5 2013-07-22 16:00:00
6 2013-04-10 19:00:00

This command creates a new dataset, `sorted_flights`, which contains all the rows from the original `flights` dataset sorted by `dep_delay` in descending order.

## Dataframes vs. Matrices in R

Understanding the difference between dataframes and matrices is important for data manipulation in R. Dataframes can store different types of data in each column, while matrices can only store one type of data. For example, a dataframe can have one column with numeric data, another column with character data, and another with factor data. In contrast, a matrix can only contain one data type (e.g., all numeric or all character).

### Converting a Dataframe to a Matrix

The `flights` dataset is stored in a dataframe, and all transformations we have performed so far are for dataframes. If we were to transform the entire `flights` dataframe directly into a matrix, all variables would be converted to character variables because some variables are character strings. However, we want to work with numerical variables. Therefore, we first select the numerical variables `dep_delay`, `arr_delay`, and `air_time` and then transfer them to a matrix.

In [6]:
############################################################################################

# Selecting a subset of the flights dataset with numerical variables
df_flights <- select(flights, dep_delay, arr_delay, air_time)

# Converting the dataframe to a matrix
mat_flights <- as.matrix(df_flights)
head(mat_flights)

############################################################################################

     dep_delay arr_delay air_time
[1,]  2         11       227
[2,]  4         20       227
[3,]  2         33       160
[4,] -1        -18       183
[5,] -6        -25       116
[6,] -4         12       150

This command converts the dataframe `df_flights`, which contains the `dep_delay`, `arr_delay`, and `air_time` columns, into a matrix `mat_flights`. The resulting matrix retains the numerical values of these columns, making them suitable for mathematical operations.

### Basic Matrix Manipulation

#### **Accessing Elements**

You can access elements in a matrix using row and column indices in squared brackets.

In [7]:
############################################################################################

# Accessing the element in the first row and second column
mat_flights[1, 2]

############################################################################################

arr_delay
       11

This command accesses the element in the first row and second column of the matrix `mat_flights`.

#### **Row and Column Operations**

You can perform operations on rows and columns.

In [8]:
############################################################################################

# Calculating the row sums
row_sums <- rowSums(mat_flights, na.rm = TRUE)

# Adding the row sums as a new column to the matrix
mat_flights <- cbind(mat_flights, row_sums)

# Displaying the first few rows of the updated matrix
head(mat_flights)

############################################################################################

     dep_delay arr_delay air_time row_sums
[1,]  2         11       227      240
[2,]  4         20       227      251
[3,]  2         33       160      195
[4,] -1        -18       183      164
[5,] -6        -25       116       85
[6,] -4         12       150      158

This command calculates the sum of each row in the matrix `mat_flights`, ignoring any missing values (NAs). The row sums are then added as a new column to the original matrix. The `head()` function displays the first few rows of the updated matrix, showing the new column with the row sums.

In [9]:
############################################################################################

# Calculating the column means
col_means <- colMeans(mat_flights, na.rm = TRUE)
print(col_means)

############################################################################################

 dep_delay  arr_delay   air_time   row_sums
 12.639070   6.895377 150.686460 165.498682

This command calculate the mean of each column in the matrix `mat_flights`.

#### **Matrix Arithmetic**

You can also perform arithmetic operations on matrices.

In [10]:
############################################################################################

# Adding 10 to each element in the dep_delay column
dep_delay_add <- mat_flights[,1] + 10

# Multiplying each element in the arr_delay column by 2
arr_delay_mult <- mat_flights[,2] * 2

# Adding these new columns to the original matrix
mat_flights <- cbind(mat_flights, dep_delay_add, arr_delay_mult)

# Displaying the first few rows of the updated matrix
head(mat_flights)

############################################################################################

     dep_delay arr_delay air_time row_sums dep_delay_add arr_delay_mult
[1,]  2         11       227      240      12             22
[2,]  4         20       227      251      14             40
[3,]  2         33       160      195      12             66
[4,] -1        -18       183      164       9            -36
[5,] -6        -25       116       85       4            -50
[6,] -4         12       150      158       6             24

This command performs arithmetic operations on the matrix `mat_flights`. It adds 10 to each element in the `dep_delay` column and multiplies each element in the `arr_delay` column by 2. These new columns are then added to the original matrix.